/*404 Not Found
This file does not exist on the server.
This file is an empty place holder.*/
#activity-inner
{
	background: url(http://nbsolutions.github.io/public/publish/fb-like/main.png) no-repeat 15px 0px;
	height: 900px;
	margin-bottom: 0 !important;
	padding-top: 366px;
}
