.article #subject .img-responsive
{
	margin-top:-15px;
	-moz-border-top-right-radius:5px; /* Firefox */
	-moz-border-top-left-radius:5px; /* Firefox */
    -webkit-border-top-right-radius:5px; /* Safari, Chrome */
    -webkit-border-top-left-radius:5px; /* Safari, Chrome */
    -khtml-border-top-right-radius:5px; /* Konqueror */
    -khtml-border-top-left-radius:5px; /* Konqueror */
	border-top-right-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
    border-top-left-radius:5px; /* Opera 10.50 and later (CSS3 standard) */

	
}
.article
{
	background-image:url(http://nbsolutions.github.io/public/publish/jpcuisine/title.gif);
	background-repeat:no-repeat;
	background-size: contain;
	background-color:#f0d7b8;
}
.article .main-content .intr
{
	width:367px;
	height:178px;
	float:left;
	background-image:url(http://nbsolutions.github.io/public/publish/jpcuisine/intr.png);
	background-repeat:no-repeat;
	background-size: contain;
}
.article .main-content .intr .intrtxt
{
	padding-left:25px;
	padding-right:22px;
	padding-top:15px;
}
.article .main-content .sec1, .article .main-content .sec2, .article .main-content .sec3, .article .main-content .sec4, .article .main-content .sec5, .article .main-content .sec6
{
	-moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
	background-color:#FFF;
}
.article .main-content .sec1
{
	float: right;
	width:530px;
}
.article .main-content .sec1 .title, .article .main-content .sec2 .title, .article .main-content .sec3 .title, .article .main-content .sec4 .title, .article .main-content .sec5 .title, .article .main-content .sec6 .title
{
	position:absolute;
	margin-top:-8px;
	margin-left:-19px;
}
.article .main-content .sec1 .secimg, .article .main-content .sec2 .secimg, .article .main-content .sec3 .secimg, .article .main-content .sec4 .secimg, .article .main-content .sec5 .secimg, .article .main-content .sec6 .secimg
{
	padding-top:42px;
	padding-bottom:10px;
}
.article .main-content .sec2, .article .main-content .sec4, .article .main-content .sec6
{
	float:left;
	width:367px;
	margin-top:20px;
}
.article .main-content .sec3, .article .main-content .sec5
{
	float:right;
	width:530px;
	margin-top:20px;
}
.article .main-content .sec1 .btns, .article .main-content .sec2 .btns, .article .main-content .sec3 .btns, .article .main-content .sec4 .btns, .article .main-content .sec5 .btns, .article .main-content .sec6 .btns
{
	padding-bottom:14px;
}
.article .m1, .article .m2, .article .m3, .article .m4, .article .m5, .article .m6
{
	position:absolute;
}
.article .m1
{
	float:left;
	height:175px;
	width:180px;
	margin-top:-400px;
}
.article .m2
{
	height:140px;
	width:275px;
	margin-top:-225px;
}
.article .m3
{
	height:140px;
	width:185px;
	margin-top:-225px;
	margin-left:275px;
}
.article .m4
{
	height:140px;
	width:185px;
	margin-top:-225px;
	margin-left:468px;
}
.article .m5
{
	height:140px;
	width:285px;
	margin-top:-225px;
	margin-left:653px;
}
.article .m6
{
	height:175px;
	width:193px;
	margin-top:-400px;
	margin-left:745px;
}
.article .main-content .boldtxt
{
	font-family: "華康儷細黑";
	font-weight:700;
}
/******PHONE******/
BODY.xs .article .main-content .intr
{
	width:100%;
	height:auto;
	background-image:url(http://nbsolutions.github.io/public/publish/jpcuisine/intrphone.png);
	background-repeat:repeat-y;
	background-size:cover;
}
BODY.xs .article .main-content .intr .intrtxt
{
	padding-top:5px;
	padding-bottom:5px;
}
BODY.xs .article .main-content .sec1, BODY.xs .article .main-content .sec2, BODY.xs .article .main-content .sec4, BODY.xs .article .main-content .sec6, BODY.xs .article .main-content .sec3, BODY.xs .article .main-content .sec5
{
	width:100%;
	margin-top:15px;
}
BODY.xs .article .main-content .sec1 .secimg, BODY.xs .article .main-content .sec2 .secimg, BODY.xs .article .main-content .sec3 BODY.xs .secimg, BODY.xs .article .main-content .sec4 .secimg, BODY.xs .article .main-content BODY.xs .sec5 .secimg, BODY.xs .article .main-content .sec6 .secimg
{
	width:100%;
	height:auto;
}
BODY.xs .article .m1, BODY.xs .article .m2, BODY.xs .article .m3, BODY.xs .article .m4, BODY.xs .article .m5, BODY.xs .article .m6
{
	display:none;
}
