<<<<<<< HEAD
=======
.article
{
	height:1903px;
}
.article .mask
{
	position:absolute;
	top:0px;
	background-color: #f5f5f5;
	width:940px;
	height:1903px;
	margin-left:-15px;
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha(opacity=70);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
.article #closed
{
	position:absolute;
	margin:0px;
	width:610px;
	height:535px;
	top: 80px;
	left:165px;
	background-color:#FFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:5px double;
	border-color:#F90;
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
}
.article #closed .top
{
	-moz-border-top-left-radius:10px;
	-moz-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-khtml-border-top-left-radius:10px;
	-khtml-border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom:inset;
}
.article #closed .title
{
	margin-top:10px;
}
.article #closed H3
{
	margin-top:15px;
	margin-left:35px;
	margin-bottom:10px;
}
.article #closed .table
{
	width:480px;
	margin-left:60px;
	margin-bottom:5px;
}
.article #closed .table thead th
{
	background-color: #fff22b;
	border-bottom:2px solid #FC0;
}
.article #closed .table tr td
{
	border-bottom:1px solid #FC0;
}
.article #closed .table .col1
{
	width:20%;
}
.article #closed .table .col2
{
	width:20%;
}
.article #closed .table .col3
{
	width:60%;
}
.article #closed .ps
{
	margin-left:15px;
}
.article #closed .btn
{
	margin-top:0px;
	margin-right:10px;
}
>>>>>>> kevin
body 
{
	background-image:url(http://nbsolutions.github.io/public/publish/raffledraw/background.png);
}
.article
{
	background-color:#ffeb64;
}
.article #subject .title
{
	margin-top:-15px;
	-moz-border-top-right-radius:5px; /* Firefox */
	-moz-border-top-left-radius:5px; /* Firefox */
    -webkit-border-top-right-radius:5px; /* Safari, Chrome */
    -webkit-border-top-left-radius:5px; /* Safari, Chrome */
    -khtml-border-top-right-radius:5px; /* Konqueror */
    -khtml-border-top-left-radius:5px; /* Konqueror */
	border-top-right-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
    border-top-left-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
}
.article #subject .fblink
{
	position:absolute;
	width:234px;
	height:45px;
	left:720px;
	top:0px;
}
.article .introduction, .article .step
{
	position:relative;
	background-color:#FFF;
	-moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
	margin-bottom:20px;
	padding-bottom:5px;
}
.article .step
{
	margin-bottom:0px;
	padding-bottom:0px;
}
#activity .main-content .introduction .sec1, #activity .main-content .step .sec2, #activity .main-content .step .sec3 
{
	position:relative;
	padding-top:10px;
	padding-bottom:15px;
}
.article .introduction
{
	margin-top:-135px;
}
#activity .main-content .step .ps .sec4
{
	padding-bottom:15px;
}
#activity .main-content .step .giftintr
{
	position:relative;
}
#activity .main-content .step .mumasec
{
	margin-top:10px;
	-moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
	border-radius:5px; /* Opera 10.50 and later (CSS3 standard) */
}
#activity .main-content .step .mumasec .book
{
	padding-top:13px;
	padding-left:10px;
}
#activity .main-content .step .mumasec .muma
{
	float:right;
	position:relative;
}
#activity .main-content .step .ps
{
	position:relative;
	padding-top:5px;
	margin-top:20px;
	padding-bottom:30px;
}
#activity .main-content .step .ps .boldtxt, #activity .main-content .step .boldtxt
{
	font-family: "華康儷細黑";
	font-weight:700;
}
BODY.xs .article .introduction
{
	margin-top:0px;
}