.article, FOOTER
{
	z-index: 1;
	position: relative;
}
#bg-tree
{
	position: fixed;
	bottom: 0;
	/*left: -144px;*/
	left: 50%;
	margin-left: -730px;
	background-image: url("/assets/images/publish/2014newyear/101.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 700px;
	width: 416px;
	z-index: 0;
}
#main-img
{
	position: relative;
}
#main-img .info-box, #main-img .hover-box
{
	position: absolute;
}
#main-img .info-box
{
	display: none;
	text-align: left;
	padding-top: 15px;
	padding-left: 10px;
	width: 320px;
	opacity: 0.9;
}
#main-img .btn
{
	margin: 0 auto 10px;
	display: block;
	width: 7em;
	opacity: 1;
}
#main-img .content
{
	color:#000;	
}
/*----------101----------*/
#main-img #s1
{
	width: 250px;
	height: 132px;
	top: 132px;
	left: 1px;
}
#main-img .s1
{
	top: -183px;
	left: -7px;
}
/*----------台北市政府----------*/
#main-img #s2
{
	width: 290px;
	height: 132px;
	top: 132px;
	left: 251px;
}
#main-img .s2
{
	top: 80px;
	left: 70px;
}
/*----------新竹市政府----------*/
#main-img #s3
{
	width: 242px;
	height: 132px;
	top: 288px;
	left: 62px;
}
#main-img .s3
{
	top: -15px;
	left: 220px;
}
/*----------台中----------*/
#main-img #s4
{
	width: 256px;
	height: 132px;
	top: 425px;
	left: 10px;
}
#main-img .s4
{
	top: -3px;
	left: 250px;
}
/*----------劍湖山----------*/
#main-img #s5
{
	width: 256px;
	height: 132px;
	top: 581px;
	left: 5px;
}
#main-img .s5
{
	top: -20px;
	left: 255px;
}
/*----------高雄五月天----------*/
#main-img #s6
{
	width: 256px;
	height: 132px;
	top: 742px;
	left: 0px;
}
#main-img .s6
{
	top: -140px;
	left: 257px;
}
/*----------高雄夢時代----------*/
#main-img #s7
{
	width: 256px;
	height: 132px;
	top: 797px;
	left: 236px;
}
#main-img .s7
{
	top: -170px;
	left: 66px;
}
/*----------基隆----------*/
#main-img #s8
{
	width: 217px;
	height: 132px;
	top: 176px;
	left: 677px;
}
#main-img .s8
{
	top: -150px;
	left: 20px;
}
/*----------桃園----------*/
#main-img #s9
{
	width: 256px;
	height: 132px;
	top: 346px;
	left: 660px;
}
#main-img .s9
{
	top: -80px;
	left: -240px;
}
/*----------日月潭----------*/
#main-img #s10
{
	width: 236px;
	height: 123px;
	top: 500px;
	left: 626px;
}
#main-img .s10
{
	top: -110px;
	left: -220px;
}
/*----------清境----------*/
#main-img #s11
{
	width: 284px;
	height: 124px;
	top: 623px;
	left: 564px;
}
#main-img .s11
{
	top: 115px;
	left: 60px;
}
/*----------阿里山----------*/
#main-img #s12
{
	width: 256px;
	height: 132px;
	top: 755px;
	left: 500px;
}
#main-img .s12
{
	top: -167px;
	left: -200px;
}
